*{
    margin: 0;
}

ul{
    font-size: 20px;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 10%;
}

li:hover{
    color: black;
}

li > a:hover{
    color: red;
}

body{
    background-color: black;
    background-image: url(../img/anima_blue.gif);
    color: rgb(121, 255, 103);
    font-size: 78px;
}

.header{
    display: flex;
    justify-content: center;
}

.cat{
    width: 10%;
}

.catb{
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

.cat2{
    margin-left: 64%;
    width: 10%;
}

.all{
    font-family: 'Comic Neue', cursive;
    font-size: 24px;
    display: flex;
}

.menu{
    width: 15%;
}

.menu-menu{
    display: flex;
    flex-direction: column;
}

.content{
    width: 75%;
    margin-left: 0px;
}

.border{
    margin: 1.5%;
    border: rgb(121, 255, 103);
    border-width: 1.5%;
    border-style: double;
    height: 55vh;
    border-radius: 5%;
    padding: 1.5%;
}

.outro{
    margin-left: 23%;
}

.conteudo{
    margin-top: 1%;
    margin-left: 5%;
}

.progress{
    display: flex;
    flex-direction: column;
}

.kit{
    margin: 1%;
}

.kitten{
    width: 10%;
}

.flex{
    display: flex;
}

.wordle{
    width: 35%;
}

.wordle-flex{
    display: flex;
}

.wordle-flex > p{
    margin-left: 2%;
    width: 60%;
}

.pessoa{
    width: 45%;
    margin-left: -10%;
}

.respo{
    width: 20%;
}

.spidey{
    width: 30%;
}

.palpa{
    width: 50%;
}

.pepsi{
    color: blue;
    text-decoration: underline;
}

.pepsi:hover{
    color: blueviolet;
    text-decoration: underline;
}

.devia{
    font-size: 10px;
}

.pepsiman{
    position: absolute;
    margin-left: 50%;
    width: 10%;
}

.flex2{
    display: flex;
    flex-direction: column;
}

@media (max-width: 769px){
    .espaco{
        height: 0;
    }

    body{
        font-size: 30px;
    }
    
    .header{
        display: flex;
    }

    ul{
        font-size: 25px;
    }

    .all{
        display: flex;
        flex-direction: column;
    }

    p{
        text-align: center;
    }

    .menu, .content{
        height: 50%;
        width: 89%;
    }

    .menu-menu{
        flex-direction: row;
    }

    .outro{
        margin-left: 64%;
    }

    .kitten{
        width: 40%;
    }

    .conteudo{
        margin: 1%;
        font-size: 23px;
    }

    .wordle{
        width: 100%;
    }

    .wordle-flex{
        display: flex;
        flex-direction: column;
    }

    .wordle-flex > p{
        margin-left: 0;
        width: 100%;
    }

    .pepsiman{
        margin-left: 0;
        margin-top: 100%;
    }

    .pessoa{
        margin-left: 0;
    }

    .pessoa, .respo{
        width: 100%;
    }

}