*{
    margin: 0;
}

ul{
    font-size: 20px;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 10%;
}

li:hover{
    color: red;
}

body{
    background-color: black;
    background-image: url(../img/anima_blue.gif);
    color: rgb(121, 255, 103);
    font-size: 78px;
}

.header{
    display: flex;
    justify-content: center;
}

.cat{
    width: 10%;
}

.catb{
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

.cat2{
    margin-left: 64%;
    width: 10%;
}

.all{
    font-family: 'Comic Neue', cursive;
    font-size: 24px;
    display: flex;
}

.menu{
    width: 15%;
}

.content{
    width: 75%;
    margin-left: 0px;
}

.border{
    margin: 1.5%;
    border: rgb(121, 255, 103);
    border-width: 1.5%;
    border-style: double;
    height: 55vh;
    border-radius: 5%;
    padding: 1.5%;
}

.outro{
    margin-left: 23%;
}

.conteudo{
    margin-top: 1%;
    margin-left: 5%;
}

.progress{
    display: flex;
    flex-direction: column;
}

.kitten{
    width: 10%;
}

@media (max-width: 769px){
    body{
        font-size: 30px;
    }
    
    .header{
        display: flex;
    }

    .all{
        display: flex;
        flex-direction: column;
    }

    p{
        text-align: center;
    }

    .menu, .content{
        height: 50%;
        width: 89%;
    }

    .outro{
        margin-left: 37%;
    }

    .kitten{
        width: 40%;
    }
}